{% extends 'flatpages/default.html' %}

<!-- adding custom filters usage -->
{% load custom_filters %}
{% load i18n %}
<!-- page title -->
{% block title %}
{{ post.title }}
{% endblock title %}

<!-- News list -->
{% block content %}
<h1>{{ post.title|censor }}</h1>
<span style="font-size:0.8rem">{{ post.dateCreation|date:'d.m.Y' }}</span><br/>
{{ post.text|censor }}
<br/>
<a href="{{ post.pk }}/edit/">{% trans "Edit" %}</a> <a href="{{ post.pk }}/delete/">{% trans "Delete" %}</a>
<br/><br/>
<a href="./">{% trans "Back" %}</a>
{% endblock content %}