<!DOCTYPE html>

{% load static %}
{% load i18n %}
{% load tz %}

<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!--  Title  -->
        <title>{% block title %} {{ flatpage.title }} {% endblock title %}</title>
        <!-- Favicon-->
<!--        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static '/css/styles.css' %}" rel="stylesheet" />
        <style>
        body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} #797471 {% else %} whitesmoke {% endif %};}
        </style>
    </head>
    <body>
    {% load cache %}
    {% cache 30 navbar %}
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">{% trans "My 1st site" %}</a>
                   <button class="navbar-toggler" type="button" data-toggle="collapse"
                           data-target="#navbarResponsive"
                           aria-controls="navbarResponsive" aria-expanded="false"
                           aria-label="Toggle navigation">
                       <span class="navbar-toggler-icon"></span>
                   </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="/news/">{% trans "News" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/articles/">{% trans "Articles" %}</a>
                        </li>
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="/alternative/">Другое</a>-->
<!--                        </li>-->
                    </ul>
                </div>
            </div>
        </nav>
    {% endcache %}



        <!-- Page content-->
        <div class="container">
                <!-- Language selection -->
                 <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %}
                    <input type="hidden" name="next" value="{{ redirect_to }}">

                    <select name="language" id="">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}

                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                {{ language.name_local }} - {{ language.code }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="{% trans 'set' %}">
                </form>
                <!-- timezone selection -->
                {% get_current_timezone as TIME_ZONE %}
                <form action="{% url 'set_timezone' %}" method="POST">
                    {% csrf_token %}
                    <label for="timezone">{% trans "Time zone" %}:</label>
                    <select name="timezone">
                        {% for tz in timezones %}
                        <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="{% trans 'set' %}">
                </form>

                {{ TIME_ZONE }}
                {{ current_time|timezone:TIME_ZONE }}
            {% block content %}
            {{ flatpage.content }}
            {% endblock content %}
        </div>
        <!-- Bootstrap core JS-->
<!--        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>-->
<!--        &lt;!&ndash; Core theme JS&ndash;&gt;-->
<!--        <script src="js/scripts.js"></script>-->
    </body>
</html>